private

*.sock
FILE.*
*.tmp
dta-xml
nytprof
tmp
MYMETA.*
b[0-9].*
b[0-9][a-z].*
kant[0-9].*
kant.*

qjobs_*
qstat_*
test-[0-9].*
test-[0-9][a-z].*
en-test[0-9].*
en-test.*
in.*.t[tj]
in.*.t[tj]s
in.*.txt
out.*.t[tj]
out.*.t[tj]s
out.*.txt
in.*.t
out.*.t
in.t?
out.t?
in.txt
out.txt

*.bin
v0.18+
v0.x
moot

latin-fm.dict
www
tmp.*
*.pid
spliced2*.xsl
ka.*
wg.*
wgtest.*
ktest.*
ktest[0-9].*
test.*
test[0-9].*
kant_*
elephant*

Makefile
ma-dwds-hacks
data

pod2htm*.tmp
tmp.html

*.old
*~
*blib

*.hmm
*.sym
*.qlab
*.lab
*.scl
*.afst
*.gfsc
*.gfst
*.tfst
*.dot
*.ps
*.gz

utest*
utrain*

Lingua
DTA

foo.log
test-kant*
*.frz
*.sto
*.frz.no-enc
*.xml-rpc
*.xml-perl
*.xml-native
*.prl
*.tcf
*.tcf+text
*.tcf+tok
*.tcftok
out.t
*-[0-9]k.dict
*-[0-9][0-9]k.dict
dta-china*.dict

ex2.*
ex2*.t
ex2*.tt
*.tt.xml
*.t.xml

test1.full.dict*
test1b.*
test-lex.*
ec-block1.*

MUDL
tmon.*
cab-en
kira


